.coment_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.coment_texts {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.coment {
    padding: 16px 45px;
    background: var(--c1-i);
}



.coment_list {
    display: flex;
    gap: 10px;
}


